.footer-images {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 40px;
    padding: 20px;
}

.footer-images img {
    width: 30%;
    /* Toma un 30% del ancho del contenedor */
    max-width: 400px;
    /* Tamaño máximo para que no se deformen en monitores muy grandes */
    min-width: 150px;
    /* Tamaño mínimo en celulares */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}